.pagination .pagina {
    background-color: rgb(182, 238, 241);
    margin: 5px;
}

.pagination .active {
    background-color: #03989E;
    margin: 5px;
}

.pagina1 {
    background-color: rgb(182, 238, 241);
    margin: 5px;
}

.pagina1 .active {
    background-color: #03989E;
    margin: 5px;
}

